
$primary-color:black;

// BUTTON PRIMARY LIGHT GRADIENT 
    // $primary-gradient-1:#ff0076;
    // $primary-gradient-2:#ff00f5;
    // $primary-gradient-3:#cc00ff;
    // $primary-gradient-4:#5900ff;
    // $primary-gradient-5:#2a0d5f;


    $primary-gradient-1:#690C91;
    $primary-gradient-2:#3B0752;
    $primary-gradient-3:#9711D1;
    $primary-gradient-4:#A112DE;
    $primary-gradient-5:#8D0FC2;



    $light-text-color: #fff;
    $dark-text-color: #000;

// BUTTON BOXSHADOW
    $box-shadow-light: #744FA8;

// BUTTON SECONDARY LIGHT GRADIENT
    // $secondary-gradient-1:#4003CA;
    // $secondary-gradient-2:#33FFD9;
    // $secondary-gradient-3:#33a3ff;
    // $secondary-gradient-4:#3358ff;


    $secondary-gradient-1:#3F9167;
    $secondary-gradient-2:#23523A;
    $secondary-gradient-3:#5AD194;
    $secondary-gradient-4:#53C289;

// CHECK PROGRAMMER COLOR
    $checkbox-color: #17BA17;

// TRANSLUCENT DIV
    $translucent-div: rgba(66, 200, 175, 0.413);
    $trasparent-div: rgba(241, 241, 241, 0.1);
    $lighter-trasparent-div: rgba(219, 213, 213, 0.39);
    $darker-transparent-div: rgba(34, 34, 34, 0.717);

// ROUTE ELEMENTS
    // RECTANGLE


    $rectangle-1: #8a03ca;
    $rectangle-1-to-color: rgba(186,3,202, 0.51);

    $rectangle-2: #ca036e;
    $rectangle-2-to-color: rgba(202,3,75, 0.51);

    $rectangle-3: #03a6ca;
    $rectangle-3-to-color: rgba(31,3,202, 0.51);

    // CIRCLE

    $circle-1:#ca0392;
    $circle-2:#a203ca;
    $circle-3:#03a6ca;

// BUTTON THIRD LIGHT GRADIENT

    $third-gradient-1:#33FFD9;
    $third-gradient-2:#FF8400;

// FOOTER
    $footer-primary: #33ffd9;
    $footer-secondary: #4003ca;

// GOLDED - TEXT DECORATION

    $primary-title-decoration:#F2BB16;
    $secondary-title-decoration:#F2C641;
    $third-title-decoration:#F2A007    ;
    $fourth-title-decoration:#594011;
    $fifth-title-decoration:#F28705;

// PRICE SLICED COLOR 
    $price-gradient-1:#911D00;
    $price-gradient-2:#791d06;
    $price-gradient-3:#D12A00;
    $price-gradient-4:#DE2C00;
    $price-gradient-5:#B82500;

// PRICE SLICED COLOR 
    $new-price-gradient-1:#479143;
    $new-price-gradient-2:#285226;
    $new-price-gradient-3:#66D160;
    $new-price-gradient-4:#6CDE66;
    $new-price-gradient-5:#5CBD57;
    
    
   
    
    
    
    
    
    
    
    
