@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
.btn {
  -webkit-animation: progressive-apparition 10s linear;
          animation: progressive-apparition 10s linear;
  transition: 2s;
}

@-webkit-keyframes progressive-apparition {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 62%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes progressive-apparition {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 62%;
  }
  100% {
    opacity: 100%;
  }
}
.programmer-img {
  -webkit-animation: progressive-apparition 10s linear, img-dimension infinite linear;
          animation: progressive-apparition 10s linear, img-dimension infinite linear;
  transition: 4s;
}

@-webkit-keyframes img-dimension {
  from {
    width: 311px;
    height: 225px;
  }
  to {
    width: 622px;
    height: 450px;
  }
}

@keyframes img-dimension {
  from {
    width: 311px;
    height: 225px;
  }
  to {
    width: 622px;
    height: 450px;
  }
}
.slash-price:hover {
  -webkit-animation: no-price 10s linear;
          animation: no-price 10s linear;
  transition: 5s;
}

@-webkit-keyframes no-price {
  from {
    text-decoration: none;
    background: -webkit-linear-gradient(#911D00, #791d06, #D12A00, #DE2C00, #B82500);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  to {
    text-decoration: line-through;
  }
}

@keyframes no-price {
  from {
    text-decoration: none;
    background: -webkit-linear-gradient(#911D00, #791d06, #D12A00, #DE2C00, #B82500);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  to {
    text-decoration: line-through;
  }
}
.new-price:hover {
  -webkit-animation: new-price 10s linear;
          animation: new-price 10s linear;
  transition: 5s;
}

@-webkit-keyframes new-price {
  from {
    text-decoration: none;
    background: -webkit-linear-gradient(#479143, #285226, #66D160, #6CDE66, #5CBD57);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  to {
    text-decoration: line-through;
  }
}

@keyframes new-price {
  from {
    text-decoration: none;
    background: -webkit-linear-gradient(#479143, #285226, #66D160, #6CDE66, #5CBD57);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  to {
    text-decoration: line-through;
  }
}
.btn:hover .bx-right-arrow-alt {
  position: relative;
  left: 10px;
}

.header {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 1rem;
}
@media screen and (max-width: 376px) {
  .header #universapp-logo-img {
    height: 70px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    justify-content: space-around;
    padding: 0.5rem;
  }
}
@media screen and (max-width: 376px) {
  .header {
    justify-content: space-between;
    padding: 1.5rem 5rem;
    width: 785px;
  }
}
.header .navbar-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 550px;
}
@media screen and (max-width: 768px) {
  .header .navbar-button {
    justify-content: center;
    width: 250px;
  }
}
.header .navbar-button .btn {
  width: 140px;
  height: 40px;
  border-radius: 30px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px 0 #744FA8;
  cursor: pointer;
  height: 50px;
  width: 250px;
  font-size: 25px;
}
.header .navbar-button .primary-light-btn {
  background-image: linear-gradient(to right, #690C91, #3B0752, #9711D1, #A112DE);
  color: #fff;
  border: none;
}
@media screen and (max-width: 768px) {
  .header .navbar-button .primary-light-btn {
    display: none;
  }
}
.header .navbar-button .dark-btn {
  background-color: black;
  color: #fff;
  border: 1px solid #690C91;
}

#primary-section .become-programmer {
  background-color: black;
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12rem;
}
@media screen and (max-width: 768px) {
  #primary-section .become-programmer {
    flex-direction: column;
    margin-bottom: 28rem;
  }
}
@media screen and (max-width: 376px) {
  #primary-section .become-programmer {
    width: 900px;
  }
}
#primary-section .become-programmer .programmer-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#primary-section .become-programmer .programmer-info h1 {
  font-size: 4rem;
}
@media screen and (max-width: 376px) {
  #primary-section .become-programmer .programmer-info h1 {
    font-size: 6rem;
  }
}
#primary-section .become-programmer .programmer-info .color-h1 {
  background: -webkit-linear-gradient(#3F9167, #23523A, #5AD194, #53C289);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
#primary-section .become-programmer .programmer-info p {
  margin-top: 1.5rem;
}
#primary-section .become-programmer .programmer-info p .programmer-check {
  color: #17BA17;
}
#primary-section .become-programmer .programmer-info p label {
  font-size: 18px;
}
@media screen and (max-width: 376px) {
  #primary-section .become-programmer .programmer-info p label {
    font-size: 37px;
  }
}
#primary-section .become-programmer .programmer-info .candidati-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 376px) {
  #primary-section .become-programmer .programmer-info .candidati-button {
    width: 800px;
    padding-left: 15rem;
  }
}
#primary-section .become-programmer .programmer-info .candidati-button .big-circle {
  position: relative;
  top: 12px;
  right: -3px;
}
#primary-section .become-programmer .programmer-info .candidati-button .trasparent {
  background-color: rgba(66, 200, 175, 0.413);
  margin-top: 19px;
  width: 270px;
  height: 70px;
  position: absolute;
  z-index: 5;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 1.2rem;
  margin-left: 20px;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}
#primary-section .become-programmer .programmer-info .candidati-button .trasparent .little-circle {
  margin-right: 2rem;
}
#primary-section .become-programmer .programmer-info .candidati-button .trasparent .btn {
  width: 140px;
  height: 40px;
  border-radius: 30px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px 0 #744FA8;
  cursor: pointer;
}
#primary-section .become-programmer .programmer-info .candidati-button .trasparent .primary-light-btn {
  background-image: linear-gradient(to right, #690C91, #3B0752, #9711D1, #A112DE);
  color: #fff;
  border: none;
}
#primary-section .become-programmer .programmer-info .btn {
  width: 140px;
  height: 40px;
  border-radius: 30px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px 0 #744FA8;
  cursor: pointer;
}
#primary-section .become-programmer .programmer-info .secondary-light-btn {
  background-image: linear-gradient(to right, #3F9167, #23523A, #5AD194, #53C289);
  color: #fff;
  border: none;
  width: 200px;
  margin-left: 5.5rem;
}
@media screen and (max-width: 376px) {
  #primary-section .become-programmer .programmer-info .secondary-light-btn {
    margin-left: 15rem;
  }
}
#primary-section .become-programmer .programmer-img #single-cube-img {
  display: none;
}
@media screen and (max-width: 768px) {
  #primary-section .become-programmer .programmer-img #single-cube-img {
    display: flex;
    padding: 2.5rem;
  }
}
@media screen and (max-width: 376px) {
  #primary-section .become-programmer .programmer-img #single-cube-img {
    width: 420px;
  }
}
@media screen and (max-width: 768px) {
  #primary-section .become-programmer .programmer-img #double-cube-img {
    display: none;
  }
}

.about-container {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 768px) {
  .about-container {
    margin-top: 4rem;
    height: 600px;
  }
}
@media screen and (max-width: 376px) {
  .about-container {
    width: 862px;
    height: 980px;
  }
}
.about-container h1 {
  font-size: 50px;
}
@media screen and (max-width: 376px) {
  .about-container h1 {
    text-align: center;
    margin-bottom: 15rem;
  }
}
.about-container .back-img {
  width: 500px;
  height: 500px;
  position: relative;
  top: 3rem;
}
@media screen and (max-width: 768px) {
  .about-container .back-img {
    margin-top: 5rem;
  }
}
@media screen and (max-width: 376px) {
  .about-container .back-img {
    margin-top: 15rem;
    width: 340px;
    height: 340px;
  }
}
.about-container .about {
  background-color: rgba(241, 241, 241, 0.1);
  box-shadow: inset 10px 10px 10px rgba(241, 241, 241, 0.1), inset -10px -10px 10px rgba(241, 241, 241, 0.1);
  position: absolute;
  z-index: 2;
  width: 80vw;
  height: 400px;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 40% 20% 40%;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}
@media screen and (max-width: 768px) {
  .about-container .about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-template-columns: none;
    padding: 2rem;
    height: 500px;
    -webkit-backdrop-filter: blur(12px);
            backdrop-filter: blur(12px);
  }
}
@media screen and (max-width: 376px) {
  .about-container .about {
    width: 660px;
    height: 700px;
    margin-left: 1rem;
  }
}
.about-container .about h3 {
  font-size: 35px;
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .about-container .about h3 {
    font-size: 25px;
    margin-bottom: 0.3rem;
  }
}
@media screen and (max-width: 376px) {
  .about-container .about h3 {
    font-size: 43px;
  }
}
.about-container .about p {
  font-size: 20px;
  margin-bottom: 25px;
}
@media screen and (max-width: 768px) {
  .about-container .about p {
    font-size: 20px;
  }
}
@media screen and (max-width: 376px) {
  .about-container .about p {
    font-size: 25px;
  }
}
.about-container .about .about-left {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .about-container .about .about-left {
    padding: 0;
    text-align: center;
  }
}
.about-container .about .about-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-container .about .about-img img {
  width: 350px;
  height: 350px;
}
@media screen and (max-width: 768px) {
  .about-container .about .about-img img {
    display: none;
  }
}
.about-container .about .about-right {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  justify-content: center;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .about-container .about .about-right {
    padding: 0;
    text-align: center;
  }
}

@media screen and (max-width: 376px) {
  .container {
    margin-top: 13rem;
    width: 760px;
  }
}
.container h1 {
  margin-top: 4rem;
  margin-bottom: 4rem;
  font-size: 60px;
  text-align: center;
}
@media screen and (max-width: 376px) {
  .container h1 {
    text-align: center;
    width: 911px;
  }
}
.container-circle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 376px) {
  .container-circle {
    left: 220px;
  }
}
.container-circle img {
  margin-right: 10.5rem;
}
@media screen and (max-width: 768px) {
  .container-circle #circle-4 {
    display: none;
  }
  .container-circle #circle-3 {
    display: none;
  }
}
@media screen and (max-width: 376px) {
  .container-circle #circle-2 {
    display: none;
  }
}
.container-reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  left: 70px;
}
@media screen and (max-width: 768px) {
  .container-reviews #rew-user-4 {
    display: none;
  }
  .container-reviews #rew-user-3 {
    display: none;
  }
}
@media screen and (max-width: 376px) {
  .container-reviews #rew-user-2 {
    display: none;
  }
}
.container-reviews-user {
  position: relative;
  bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2.5rem;
  background-color: rgba(241, 241, 241, 0.1);
  width: 300px;
  height: 478px;
  border-radius: 50px;
  padding: 1rem;
  margin-right: 5rem;
  box-shadow: inset 5px 5px 10px rgba(241, 241, 241, 0.1), inset -5px -5px 10px rgba(241, 241, 241, 0.1);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
@media screen and (max-width: 376px) {
  .container-reviews-user {
    left: 220px;
    width: 527px;
    height: 566px;
  }
}
.container-reviews-user .profile-img {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 0.3rem;
}
@media screen and (max-width: 376px) {
  .container-reviews-user .profile-img {
    width: 126px;
    height: 126px;
  }
}
@media screen and (max-width: 376px) {
  .container-reviews-user .profile-img img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 376px) {
  .container-reviews-user .profile-name {
    font-size: 50px;
  }
}
@media screen and (max-width: 376px) {
  .container-reviews-user .profile-description {
    font-size: 22px;
  }
}

.route-container {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  font-size: 20px;
}
@media screen and (max-width: 376px) {
  .route-container {
    width: 860px;
  }
}
@media screen and (max-width: 376px) {
  .route-container-info {
    text-align: center;
    padding-left: 3rem;
  }
}
.route-container-info h1 {
  font-size: 50px;
  margin-bottom: 3rem;
}
.route-container-info p {
  margin-bottom: 3rem;
}
.route-container-info ul li span {
  color: #690C91;
}
.route-container .route-img {
  position: relative;
  right: 200px;
}
@media screen and (max-width: 768px) {
  .route-container .route-img {
    display: none;
  }
}

.route-course-container {
  padding: 2.1rem;
  background-color: black;
  background-image: url(/images/violet\ design.png);
  background-repeat: repeat-x;
  background-position: -10rem;
  height: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .route-course-container #programs-container-2 {
    display: none;
  }
  .route-course-container #programs-container-3 {
    display: none;
  }
}
@media screen and (max-width: 376px) {
  .route-course-container {
    width: 966px;
  }
}
.route-course-container .programs-container {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  height: 350px;
  background-color: rgba(34, 34, 34, 0.717);
  border-radius: 50px;
  margin-right: 2.5rem;
  padding-left: 2rem;
  box-shadow: inset 5px 5px 10px rgba(241, 241, 241, 0.1), inset -5px -5px 10px rgba(241, 241, 241, 0.1);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
@media screen and (max-width: 376px) {
  .route-course-container .programs-container {
    margin-left: 2rem;
  }
}
.route-course-container .programs-container .program-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.1rem;
  align-items: center;
}
.route-course-container .programs-container .program-info .left-part {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
@media screen and (max-width: 376px) {
  .route-course-container .programs-container .program-info .left-part {
    display: none;
  }
}
.route-course-container .programs-container .program-info .left-part h3 {
  font-size: 27px;
  margin-bottom: 1.5rem;
}
.route-course-container .programs-container .program-info .left-part p {
  font-size: 18px;
  margin-bottom: 1.5rem;
}
.route-course-container .programs-container .program-info .left-part .profile {
  display: flex;
  align-items: flex-end;
}
.route-course-container .programs-container .program-info .left-part .profile-img {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 0.2rem;
}
.route-course-container .programs-container .program-info #right-1 {
  background: linear-gradient(135deg, #8a03ca 0%, rgba(186, 3, 202, 0.51) 100%);
}
.route-course-container .programs-container .program-info #right-2 {
  background: linear-gradient(135deg, #ca036e 0%, rgba(202, 3, 75, 0.51) 100%);
}
.route-course-container .programs-container .program-info #right-3 {
  background: linear-gradient(135deg, #03a6ca 0%, rgba(31, 3, 202, 0.51) 100%);
}
.route-course-container .programs-container .program-info .right-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 300px;
  margin-right: 1.5rem;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: inset 10px 10px 10px rgba(241, 241, 241, 0.1), inset -10px -10px 10px rgba(241, 241, 241, 0.1);
}
.route-course-container .programs-container .program-info .right-part p {
  margin-top: 1.5rem;
  background-color: rgba(34, 34, 34, 0.717);
  border-radius: 15px;
  padding: 0.2rem;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 60px;
}
.route-course-container .programs-container .program-info .right-part #circle-1 {
  background-color: #ca0392;
}
.route-course-container .programs-container .program-info .right-part #circle-2 {
  background-color: #a203ca;
}
.route-course-container .programs-container .program-info .right-part #circle-3 {
  background-color: #03a6ca;
}
.route-course-container .programs-container .program-info .right-part .circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.price-container {
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 930px;
}
@media screen and (max-width: 376px) {
  .price-container {
    width: 915px;
  }
}
.price-container h1 {
  font-size: 60px;
}
@media screen and (max-width: 376px) {
  .price-container h1 {
    font-size: 50px;
  }
}
.price-container h4 {
  font-size: 20px;
  font-style: italic;
  font-weight: lighter;
  margin-bottom: 9rem;
}
.price-container-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
}
@media screen and (max-width: 376px) {
  .price-container-banner {
    flex-direction: column;
    gap: 10rem;
  }
}
.price-container-banner .price-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 500px;
  border-radius: 20px;
  background-color: rgba(241, 241, 241, 0.1);
  margin-right: 4rem;
  margin-left: 4rem;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: inset 8px 8px 10px rgba(219, 213, 213, 0.39), inset -8px -8px 10px rgba(219, 213, 213, 0.39);
  text-align: center;
}
@media screen and (max-width: 376px) {
  .price-container-banner .price-banner {
    margin: 0;
  }
}
.price-container-banner .price-banner-title {
  width: 100%;
  height: 70px;
  position: relative;
  bottom: 90px;
  border-radius: 20px 20px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.price-container-banner .price-banner-title h3 {
  font-size: 27px;
}
.price-container-banner .price-banner #no-risk-title {
  background-color: #33FFD9;
  background-color: -moz-linear-gradient(90deg, #33FFD9 0%, #FF8400 100%);
  background: linear-gradient(90deg, #33FFD9 0%, #FF8400 100%);
}
.price-container-banner .price-banner #no-risk-title h3 {
  color: #000;
}
.price-container-banner .price-banner #rated-title {
  background-color: #690C91;
  background-color: -moz-linear-gradient(90deg, #690C91 0%, #8D0FC2 100%);
  background: linear-gradient(90deg, #690C91 0%, #8D0FC2 100%);
}
.price-container-banner .price-banner-info {
  position: relative;
  bottom: 4rem;
}
.price-container-banner .price-banner-info .slash-price {
  text-decoration: line-through;
  margin-bottom: 4rem;
}
.price-container-banner .price-banner-info h2 {
  font-size: 40px;
  margin-bottom: 2rem;
}
.price-container-banner .price-banner-info p {
  margin-bottom: 2rem;
}
.price-container-banner .price-banner-info h5 {
  font-size: 18px;
}
.price-container .button-grouped {
  display: flex;
  justify-content: space-between;
  width: 750px;
  position: relative;
  z-index: 3;
  bottom: 35px;
}
@media screen and (max-width: 768px) {
  .price-container .button-grouped {
    width: 610px;
  }
}
@media screen and (max-width: 376px) {
  .price-container .button-grouped {
    flex-direction: column;
    width: 230px;
    gap: 34rem;
    bottom: 700px;
  }
}
.price-container .button-grouped .price-button-container {
  padding: 1.2rem;
  background-color: rgba(241, 241, 241, 0.1);
  border-radius: 20px;
  margin-bottom: 2rem;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  box-shadow: inset 5px 5px 8px rgba(219, 213, 213, 0.39), inset -5px -5px 8px rgba(219, 213, 213, 0.39);
}
.price-container .button-grouped .price-button-container .btn {
  width: 140px;
  height: 40px;
  border-radius: 30px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px 0 #744FA8;
  cursor: pointer;
  box-shadow: none;
  border: none;
  width: 210px;
}
@media screen and (max-width: 768px) {
  .price-container .button-grouped .price-button-container .btn {
    width: 180px;
  }
}
.price-container .button-grouped .price-button-container #no-risk-button {
  background-color: #33FFD9;
  background-color: -moz-linear-gradient(90deg, #33FFD9 0%, #FF8400 100%);
  background: linear-gradient(90deg, #33FFD9 0%, #FF8400 100%);
  color: #000;
}
.price-container .button-grouped .price-button-container #no-risk-button i {
  margin-left: 0.5rem;
  color: #000;
}
.price-container .button-grouped .price-button-container #rated-button {
  background-color: #690C91;
  background-color: -moz-linear-gradient(90deg, #690C91 0%, #8D0FC2 100%);
  background: linear-gradient(90deg, #690C91 0%, #8D0FC2 100%);
}
.price-container .circle-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 830px;
  position: relative;
  bottom: 250px;
  z-index: 0;
}
@media screen and (max-width: 768px) {
  .price-container .circle-img {
    width: 720px;
  }
}
@media screen and (max-width: 376px) {
  .price-container .circle-img {
    flex-direction: column;
    gap: 23rem;
    bottom: 1600px;
  }
}

.free-trial {
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 200px;
}
@media screen and (max-width: 376px) {
  .free-trial {
    width: 816px;
    position: relative;
    left: 46px;
    top: 540px;
  }
}
.free-trial .free-trial-container {
  background-color: rgba(241, 241, 241, 0.1);
  display: flex;
  justify-content: space-around;
  width: 1200px;
  height: 250px;
  padding: 2.5rem;
  border-radius: 20px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: inset 5px 5px 10px rgba(219, 213, 213, 0.39), inset -5px -5px 10px rgba(219, 213, 213, 0.39);
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .free-trial .free-trial-container {
    width: 630px;
  }
}
.free-trial .free-trial-container img {
  width: 80px;
  height: 80px;
}
.free-trial .free-trial-container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.free-trial .free-trial-container-text h3 {
  font-size: 32px;
}
.free-trial .free-trial-container-text h6 {
  font-size: 15px;
  width: 800px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .free-trial .free-trial-container-text h6 {
    width: 390px;
  }
}
.free-trial .free-trial-container-button {
  width: 250px;
  height: 76px;
  background-color: rgba(241, 241, 241, 0.1);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 5px 5px 10px rgba(219, 213, 213, 0.39), inset -5px -5px 10px rgba(219, 213, 213, 0.39);
  position: relative;
  bottom: 56px;
  z-index: 2;
  padding: 1.5rem;
}
@media screen and (max-width: 768px) {
  .free-trial .free-trial-container-button {
    bottom: 40px;
  }
}
.free-trial .free-trial-container-button button {
  width: 140px;
  height: 40px;
  border-radius: 30px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px 0 #744FA8;
  cursor: pointer;
  box-shadow: none;
  border: 1px solid #fff;
  background-color: rgba(241, 241, 241, 0.1);
  width: 200px;
  height: 30px;
}
.free-trial .trasparent-circle {
  position: relative;
  bottom: 250px;
  z-index: 0;
}

#tech-job-title {
  font-size: 60px;
  position: relative;
  text-align: center;
  top: 375px;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  #tech-job-title {
    font-size: 40px;
    left: 50px;
    top: 150px;
  }
}
@media screen and (max-width: 376px) {
  #tech-job-title {
    width: 760px;
    position: relative;
    top: 571px;
  }
}

.tech-job-container {
  background-color: black;
  display: grid;
  grid-template-columns: 10% 70% 20% 10%;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .tech-job-container {
    overflow: hidden;
    width: 850px;
  }
}
@media screen and (max-width: 376px) {
  .tech-job-container {
    width: 900px;
    position: relative;
    top: 420px;
  }
}
.tech-job-container .left-rombo {
  position: relative;
  right: 23rem;
  z-index: 2;
}
@media screen and (max-width: 768px) {
  .tech-job-container .left-rombo {
    right: 28rem;
  }
}
.tech-job-container-info {
  display: grid;
  grid-template-columns: 60% 1% 30%;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 0 8rem;
  box-shadow: inset 5px 5px 10px rgba(219, 213, 213, 0.39), inset -5px -5px 10px rgba(219, 213, 213, 0.39);
  background-color: rgba(241, 241, 241, 0.1);
  border-radius: 15px;
  width: 80vw;
  height: 270px;
  z-index: 1;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}
@media screen and (max-width: 768px) {
  .tech-job-container-info {
    width: 95vw;
    height: 720px;
  }
}
@media screen and (max-width: 376px) {
  .tech-job-container-info {
    width: 777px;
  }
}
.tech-job-container-info h1 {
  font-size: 30px;
}
@media screen and (max-width: 376px) {
  .tech-job-container-info h1 {
    font-size: 40px;
  }
}
.tech-job-container-info p {
  font-size: 15px;
}
@media screen and (max-width: 376px) {
  .tech-job-container-info p {
    font-size: 20px;
  }
}
.tech-job-container-info span {
  font-weight: bold;
}
.tech-job-container-info .left-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 15em;
}
.tech-job-container-info .left-info .info-1 {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: flex-start;
  gap: 3rem;
}
@media screen and (max-width: 768px) {
  .tech-job-container-info .left-info .info-1 {
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
  }
}
.tech-job-container-info .left-info .info-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 3rem;
}
@media screen and (max-width: 768px) {
  .tech-job-container-info .left-info .info-2 {
    grid-template-columns: 1fr;
  }
}
.tech-job-container-info .right-info p {
  margin-bottom: 1rem;
}
.tech-job-container-info .little-rombo {
  width: 200px;
  position: relative;
  top: 10rem;
  right: 6rem;
}
@media screen and (max-width: 768px) {
  .tech-job-container-info .little-rombo {
    visibility: hidden;
  }
}
.tech-job-container .right-rombo {
  z-index: 0;
  position: relative;
  right: 10rem;
}

.more-info {
  background-color: black;
  display: grid;
  grid-template-columns: 50% 1% 50%;
  gap: 3rem;
  height: 530px;
}
@media screen and (max-width: 768px) {
  .more-info {
    overflow: hidden;
    width: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 800px;
  }
}
@media screen and (max-width: 376px) {
  .more-info {
    width: 960px;
    height: 1956px;
  }
}
.more-info-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-info-left .info-icon {
  color: #33FFD9;
  font-size: 50px;
}
.more-info-left p {
  display: flex;
  align-items: center;
  width: 480px;
  font-size: 20px;
}
@media screen and (max-width: 376px) {
  .more-info-left p {
    font-size: 39px;
  }
}
.more-info #divider {
  height: 304px;
  width: 2px;
  background-color: #fff;
}
@media screen and (max-width: 376px) {
  .more-info #divider {
    display: none;
  }
}
.more-info-right h1 {
  font-size: 35px;
  color: #33FFD9;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .more-info-right h1 {
    text-align: center;
  }
}
@media screen and (max-width: 376px) {
  .more-info-right h1 {
    font-size: 55px;
  }
}
.more-info-right p {
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .more-info-right p {
    text-align: center;
  }
}
@media screen and (max-width: 376px) {
  .more-info-right p {
    font-size: 30px;
  }
}
.more-info-right .sub-container {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 450px;
  gap: 1rem;
}
@media screen and (max-width: 376px) {
  .more-info-right .sub-container {
    width: 640px;
  }
}
.more-info-right .sub-container .btn {
  width: 140px;
  height: 40px;
  border-radius: 30px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 15px 0 #744FA8;
  cursor: pointer;
  box-shadow: none;
  width: 185px;
  height: 32px;
  border: none;
}
@media screen and (max-width: 376px) {
  .more-info-right .sub-container .btn {
    height: 80px;
    width: 250px;
    font-size: 30px;
  }
}
.more-info-right .sub-container-button {
  background-color: rgba(241, 241, 241, 0.1);
  box-shadow: inset 5px 5px 10px rgba(219, 213, 213, 0.39), inset -5px -5px 10px rgba(219, 213, 213, 0.39);
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}
@media screen and (max-width: 376px) {
  .more-info-right .sub-container-button {
    height: 120px;
  }
}
.more-info-right .sub-container-button-left {
  color: #000;
  background-color: #33FFD9;
  background-color: -moz-linear-gradient(90deg, #33FFD9 0%, #FF8400 100%);
  background: linear-gradient(90deg, #33FFD9 0%, #FF8400 100%);
}
.more-info-right .sub-container-button-left i {
  color: black;
}
.more-info-right .sub-container-button-right {
  background-color: #690C91;
  background-color: -moz-linear-gradient(90deg, #690C91 0%, #8D0FC2 100%);
  background: linear-gradient(90deg, #690C91 0%, #8D0FC2 100%);
}
.more-info-right .double-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin-top: 1.5rem;
}
@media screen and (max-width: 376px) {
  .more-info-right .double-circle img {
    width: 670px;
  }
}
@media screen and (max-width: 376px) {
  .more-info-right .double-circle {
    width: 660px;
    height: 400px;
    position: relative;
    top: 10rem;
  }
}

.footer-container {
  display: grid;
  grid-template-columns: 50% 50%;
}
@media screen and (max-width: 768px) {
  .footer-container {
    margin-top: 2.5rem;
  }
}
@media screen and (max-width: 376px) {
  .footer-container {
    width: 876px;
  }
}
.footer-container-left {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #33ffd9;
  padding: 8rem;
}
.footer-container-left h2 {
  color: #4003ca;
  margin-bottom: 2rem;
}
.footer-container-left a {
  text-decoration: none;
  color: #4003ca;
  margin-right: 1rem;
  font-size: 18px;
}
.footer-container-left p {
  font-size: 18px;
  color: #4003ca;
  margin-top: 0.6rem;
}
.footer-container-left p span {
  font-weight: bold;
  color: #4003ca;
}
.footer-container-left p .universapp-email {
  font-style: oblique;
  color: #4003ca;
}
.footer-container-left label {
  color: #4003ca;
}
.footer-container-left .policy-links {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}
.footer-container-left .policy-links a {
  margin: 0;
}
.footer-container-left .social-icon {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.footer-container-left .social-icon .social-logo-link {
  width: 20px;
}
.footer-container-left .social-icon .social-logo {
  width: 30px;
}
.footer-container-right {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #4003ca;
  height: 469px;
  padding: 8rem;
}
@media screen and (max-width: 768px) {
  .footer-container-right {
    width: 465px;
    height: 532.4px;
  }
}
.footer-container-right h3 {
  font-size: 30px;
  color: #33ffd9;
  width: 550px;
}
@media screen and (max-width: 768px) {
  .footer-container-right h3 {
    width: 200px;
  }
}
.footer-container-right .welogo {
  width: 550px;
  display: flex;
  justify-content: right;
}
@media screen and (max-width: 768px) {
  .footer-container-right .welogo {
    width: 200px;
  }
}
.footer-container-right .chat-icon-box {
  position: fixed;
  font-size: 60px;
  right: 14px;
  bottom: 14px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .footer-container-right .chat-icon-box {
    display: none;
  }
}
.footer-container-right .chat-icon-box .chat-icon {
  color: #690C91;
  border-radius: 5px;
  box-shadow: 5px 5px 10px black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
}

body {
  background-color: black;
}

@media screen and (min-width: 769px) {
  section {
    overflow: hidden;
  }
}/*# sourceMappingURL=style.css.map */